<div class="signup_login">
  <h2 class="title-signup-login">Inscrivez-vous</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="login-form-inputs">
      <p class="signup-login-input">Identifiant :</p>
      <%= f.input_field :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: "Identifiant" %>
      <p class="signup-login-input">Entrez votre mot de passe :</p>           
      <%= f.input_field :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <p class="signup-login-input">Confirmez votre mot de passe :</p>
      <%= f.input_field :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="account-Y-N">
      <p>Déjà un compte ?</p>
      <%= render "devise/shared/links" %>
    </div>  
    <%# <div class="footer-yellow signup" id="signup"> %>
      <%# <div class="btn-footer-form"> %>
        <div class="btn-signup">
          <%= f.button :submit, "CONTINUER", class: 'button-green' %>
        </div>
      <% end %>
     <%# </div> %>
    <%# </div> %>
</div>