<div class="booking-index-return-link">
  <a href="">< RETOUR</a>
</div>

<div class="booking-index-title">
  <h3>Mes réservations</h3>
</div>

<div class="container">
  <% @pensions.each do |pension| %>
    <div class="main-booking-card">
      <div class="bookings-index-card">
        <div class="booking-index-name&address">
            <h5> <strong><%= pension.name %></strong></h5>
            <p> <%= pension.address %> </p>
        </div>
        <div class="booking-index-booking-number">
            <p>#14235671</p>
        </div>
      </div>

      <div class="booking-index-cards-container">
        <div class="booking-index-photos">
          <%= image_tag 'bouvier.jpg' %>
          <p> <%= @bookings.start_date %> </p>
        </div>
        <div class="booking-index-photos">
          <%= image_tag 'bouvier.jpg' %>
          <p></p>
        </div>
      </div>
      <hr style="width:80%", size="3", color=#274640>
      <div class="booking-index-dates-container">
        <p>Du :</p>
        <p>  </p>
      </div>
      <div class="booking-index-dates-container">
        <p>Au :</p>
        <p>  </p>
      </div>
      <div class="booking-index-dates-container">
        <p>Nombre de jours :</p>
        <p> <%= @total_days %> jours</p>
      </div>
      <hr style="width:80%", size="3", color=#274640>
      <div class="booking-index-price">
        <p>Prix total :</p>
        <p>  </p>
      </div>
    </div>
  <% end  %>
</div>
