<div class="booking-index-title">
  <h3>Mes réservations</h3>
</div>

<div>
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <div class="img-booking-content">
        <h3>PHOTO</h3>
        <div class="booking-content">
          <p class="nb-resa">#14235671</p>
          <%= Pension.select(:name).find(booking.pension_id).name %>
          <%= Pension.select(:address).find(booking.pension_id).address %>
          <div class="booking-pets">
            <% @user_pets.each do |pet| %>
                <%= image_tag 'bouvier.jpg' %>
                <p><%= pet.name %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="booking-dates">
        <p>Du :</p> <%= booking.start_date.strftime("%d/%m/%Y") %>
        <p>Au :</p> <%= booking.end_date.strftime("%d/%m/%Y") %>
      </div>
      <div class="line"></div>
      <div class="booking-total-price">
        <p>Prix total :</p>
        <p> <%= booking.total_price %> € </p>
      </div>
    </div>
  <% end  %>
</div>
