<div class="booking-index-return-link">
  <a href="">< RETOUR</a>
</div>

<div class="booking-index-title">
  <h3>Mes réservations</h3>
</div>

<div class="container">
  <% @bookings.each do |booking| %>
    <div class="main-booking-card">
      <div class="bookings-index-card">
        <div class="booking-index-name&address">
            <h5> <strong><%= Pension.select(:name).find(booking.pension_id).name %></strong></h5>
            <p> <%= Pension.select(:address).find(booking.pension_id).address %> </p>
        </div>
        <div class="booking-index-booking-number">
            <p>#14235671</p>
        </div>
      </div>

      <div class="booking-index-cards-container">
        <div class="booking-index-photos">
          <%= image_tag 'bouvier.jpg' %>
          <p></p>
        </div>
        <div class="booking-index-photos">
          <%= image_tag 'bouvier.jpg' %>
          <p></p>
        </div>
      </div>
      <hr style="width:80%", size="3", color=#274640>
      <div class="booking-index-dates-container">
        <p>Du :</p>
        <p> <%= booking.start_date.strftime("%d/%m/%Y") %> </p>
      </div>
      <div class="booking-index-dates-container">
        <p>Au :</p>
        <p> <%= booking.end_date.strftime("%d/%m/%Y") %> </p>
      </div>
      <div class="booking-index-dates-container">
        <p>Nombre de jours :</p>
        <%= pluralize (@total_days), "jour" %>
      </div>
      <hr style="width:80%", size="3", color=#274640>
      <div class="booking-index-price">
        <p>Prix total :</p>
        <p> <%= booking.total_price %> € </p>
      </div>
    </div>
  <% end  %>
</div>
