<div class="footer">
  <a href="/bookings" id="recap" class="<%= current_page?(bookings_url) && 'active' %>">
    <%= render inline: Rails.root.join("app/assets/images/Receipt.svg").read %>
  </a>
  <a href="/" id="home" class="<%= current_page?(root_url) && 'active' %>">
    <%= render inline: Rails.root.join("app/assets/images/House.svg").read %>
  </a>
  <a href="/user_pets" id="profil" class="<%= current_page?(user_pets_url) && 'active' %>">
    <%= render inline: Rails.root.join("app/assets/images/PawPrint.svg").read %>
  </a>
</div>
