<div id="user-pet-index">
  <div>
    <div class="user-pet-index-avatar"><%= image_tag 'Avatar_user.jpeg', id: "img-profil" %></div>
    <div class="user-pet-index-name"><h3><%= @current_user.first_name %></h3></div>

    <div class="user-pet-notifications">
      <div class="container">
        <div class="user-pet-notification-bell">
          <i class="far fa-bell"></i>
          <p>Paramètre de notifications</p>
        </div>
        <hr class="user-pets-line-break" style="width:90%", size="1", color="rgba(39, 70, 64, 0.12)">
        <div class="user-pet-notification-marker">
          <i class="fas fa-map-marker-alt"></i>
          <p>Definir mon adresse par défaut</p>
        </div>
        <hr class="user-pets-line-break" style="width:90%", size="1", color="rgba(39, 70, 64, 0.12)">
        <div class="user-pet-notification-animal">
          <i class="fas fa-paw"></i>
          <p>Mes animaux :</p>
        </div>
      </div>
    </div>

    <div class="pets_selector">
      <div class="pets_selector_cards">
        <% @user_pets.each do |pet| %>
          <div class="pets_selector_card">
            <div class="img_pet_card"><%= image_tag 'bouvier.jpg' %></div>
            <div class="name_and_breed">
              <p><%= pet.name %></p> <p><%= image_tag 'Dog.png' %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="user-pet-add-button">
      <button class="user-pet-add-button-button">AJOUTER UN ANIMAL</button>
    </div>

  </div>
</div>
