<div class="container_pension_map" data-controller='unfold-search-form'>
  <div id="search-form" data-unfold-search-form-target="form" >
    <div id="back-link">
      <%= link_to " < RETOUR", edit_user_search_path(@user_search), class: 'link-back mon-text' %>
    </div>
    <div id="form-search-simple">
      <%= simple_form_for @user_search, url: pensions_path, method: :post do |f| %>
        <div data-action='click->unfold-search-form#unfold'>
          <%= f.input :start_address, label: false, input_html: { class: 'input_form_search', value: @user_search.start_address } %>
        </div>
        <div data-action='click->unfold-search-form#unfold'>
          <%= f.input :end_address, label: false, input_html: { class: 'input_form_search', value: @user_search.end_address } %>
        </div>
        <%= f.input :start_date, as: :text, label: false, input_html: { class: 'input_form_search', value: @user_search.start_date.strftime("%d/%m/%Y")  } %>
        <%= f.input :end_date, as: :text, label: false, input_html: { class: 'input_form_search', value: @user_search.start_date.strftime("%d/%m/%Y")  }  %>
        <%= f.submit "Rechercher", label: false, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div id="map" data-unfold-search-form-target="mapdisplay"
    style="width: 100%"
    data-marker="<%= @start_marker.to_json %>"
    data-route="<%=  @geoson  %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-pensionway="<%= @poi.to_json %>">
  </div>

  <div id="nb-pension-result" data-unfold-search-form-target="nbpensionresult">
    <% if @res.count.positive? %>
      <p class="mon-text" data-action="click->unfold-search-form#showDivListPension">VOIR LES <%= @res.count %> PENSIONS    <strong>></strong></p>
    <% else %>
      <p class="mon-text">Auncune pension trouvée</p>
    <% end %>
  </div>

  <div id="show-pension-result" class="mask_div" data-unfold-search-form-target="pensionresult">
      <p class="mon-text" data-action="click->unfold-search-form#hideDivListPension">VOIR LA CARTE</p>
  </div>
  <div id="display-result-pensions" class="mask_div" data-unfold-search-form-target="pensionresultlist" >
    <div id="nb-res-list-pension">
      <% if @res.count <= 1  %>
        <h3 class="txt-center"><%= @res.count %> pension</h3>
      <% else %>
        <h3 class="txt-center"><%= @res.count %> pensions</h3>
      <% end %>
    </div>
    <div class="pension-cards">
      <% @res.each do |pension| %>
        <div class="pension-card">
          <div class="pension-card-row">
            <div class="pension-card-row-col-one">
              <div class="pension-name">
                <p><%= pension.name %></p>
              </div>
              <div class="datas-pensions">
                <div class="img-pension">
                </div>
                <div class="pensions-ou">
                  <div class="logo-pets">
                    <% PensionPet.where(pension_id: pension.id).each do | pets | %>
                      <%= image_tag "#{pets.pet_id}.png", width: 24, height: 24 %>
                    <% end %>
                  </div>
                  <div class="city-cp">
                    <p><%= pension.address.split(',')[1] %></p>
                  </div>
                </div>
              </div>

              <div class="datas-pensions-pr-ra">
                <div class="pension-price">
                <p>A partir de <%=pension.from_price %>€ / jour </p>
                </div>
                <div class="rating">
                  <div class="star">
                    <%= image_tag "yellow_star.png", width: 24, height: 24 %>
                  </div>
                  <div class="nb-star">
                    <p><%= pension.rating %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="pension-card-row-col-two">
                <div class="row2-right-top">
                  <h3><%= pension.space_left %></h3>
                  <p>places restantes</p>
                </div>
                <div class="row2-right-bottom">
                  <p class="time-trajet">+15min</p>
                  <p class="km-trajet">10Km</p>
                </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>




</div>
