<div class="main-box">

  <div class="top-box">
    <div id="back-link">
      <%= link_to " < RETOUR", pensions_path, class: 'link-back mon-text' %>
    </div>
      <div class="pension-top-box-carroussel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @pension.photos[0].key, crop:"fill", aspect_ratio:"1.0" %>
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="pension-top-box-title">
        <h3><%= @pension.name %></h3>
        <div class="pension-top-box-rating">
          <div class="star">
              <% @pension.rating.times do %>
                <%= image_tag "StarShow.png", width:16, height:16 %>
              <% end %>
              <% (5 - (@pension.rating)).times do %>
                <%= image_tag "gray_star_show.png", width:16, height:16 %>
              <% end %>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
  <div class="pension-box">

      <div class="main-card-box">
          <% if @pension.space_left>=5 %>
            <div class="main-card-box-badge bck_green">
              <p><strong><i class="fas fa-check-square"></i> <%=@pension.space_left %></strong> places restantes</p>
            </div>
          <% else %>
            <div class="main-card-box-badge bck_red">
              <p><strong><i class="fas fa-exclamation-triangle"></i> <%=@pension.space_left %></strong> places restantes</p>
            </div>
          <% end  %>
      </div>
      <div class="main-card-box-description">
        <div class="pension-description">
          <p><%= @pension.description %></p>
        </div>
        <div class="pension-address">
          <div class="pension-address-address">
            <i class="fas fa-map-marker-alt"></i>
            <div class="pension-address-split">
              <p class="pension-address-split-line"><%= @pension.address.split(',').first %></p>
              <p class="pension-address-split-line"><%= @pension.address.split(',').last %></p>
            </div>
          </div>
          <div><p>A partir de €<%= @pension.from_price %> / jour</p></div>
        </div>
      </div>

      <div class="pension-show-accepted">
        <h5>Animaux acceptés</h5>
      </div>

      <div class="main-card-box-accepted">
          <% PensionPet.where(pension_id: @pension.id).each do | pets | %>
            <div class="pension-animal-badge">
              <%= image_tag "#{pets.pet_id}.png", width: 24, height: 24 %>
              <% if pets.pet_id == 1  %>
              <p class="animal-tag">Chien</p>
              <% else %>
              <p class="animal-tag">Chat</p>
              <% end  %>
            </div>
          <% end %>
      </div>

      <div class="pension-show-journey-box">
        <h5>Informations de trajet</h5>
        <div class="pension-show-journey-box-badge">
          <p><strong>+<%= @temps %>min</strong> <%= @distance %>Km de détour</p>
        </div>
        <div class="pension-show-journey-box-recap">
            <div class="pension-show-journey-box-recap-icons"><p class="fixe"><i class="fas fa-map-marker-alt"></i></p><p class="etire"><%= @user_search.start_address %></p></div>
            <div class="pension-show-journey-box-recap-icons"><p class="entre-deux"><i class="fas fa-ellipsis-v"></i></p></div>
            <div class="pension-show-journey-box-recap-icons"><p class="fixe"><i class="far fa-circle"></i></p><p class="etire"><%= @pension.address %></p></div>
            <div class="pension-show-journey-box-recap-icons"><p class="entre-deux"><i class="fas fa-ellipsis-v"></i></p></div>
            <div class="pension-show-journey-box-recap-icons"><p class="fixe"><i class="fas fa-map-marker-alt"></i></p><p class="etire"><%= @user_search.end_address %></p></div>
          </div>
        </div>
      </div>

      <div class="end-div">
        <%= link_to "RÉSERVER", new_pension_booking_path(@pension), class: 'button-yellow' %>
      </div>

    </div>
  </div>
</div>
