<div class="main-box">

  <div class="top-box">
    <div class="container">
      <%= link_to "< RETOUR", pensions_path, class:"return-link"  %>
      <%= link_to "RÉSERVER 155€", bookings_path %>
      <button class="reserve-btn">RÉSERVER 155€</button>
    </div>
  </div>

  <div class="pension-box">
    <div class="container">
      <div class="main-card-box">
        <div class="main-card-box-title">
          <h3><%= @pension.name %></h3>
          <h5>A partir de 31€ / jour</h5>
        </div>
        <div class="main-card-box-address">
          <div class="pension-address">
          <p><%= @pension.address %></p>
          <i class="fas fa-star"></i><p>5/5</p>
          </div>
          <div class="pension-remaining-spots">
            <h5><%= @pension.space_left %></h5>
            <p>Places restantes</p>
          </div>
        </div>
        <div class="main-card-box-photos">
            <h5>Photos</h5>
          <div class="photo-grid">
            <%= cl_image_tag @pension.photos[0].key, crop:"fill", effect: "improve" %>
            <%= cl_image_tag @pension.photos[1].key, crop:"fill", effect: "improve" %>
            <%= cl_image_tag @pension.photos[2].key, crop:"fill", effect: "improve" %>
            <%= cl_image_tag @pension.photos[3].key, crop:"fill", effect: "improve" %>
            <%= cl_image_tag @pension.photos[4].key, crop:"fill", effect: "improve" %>
          </div>
        </div>
        <div class="main-card-box-description">
          <h5>Description</h5>
          <p><%= @pension.description %></p>
        </div>
        <div class="main-card-box-journey">
          <h5>Information sur le trajet</h5>
          <div class="journey-address">
            <i class="far fa-map"></i>
            <p><%= @pension.address %></p>
          </div>
          <p>+4min sur votre temps de trajet</p>
          <p>+10km de détour</p>
        </div>
        <div class="main-card-box-accepted">
          <h5>Animaux acceptés</h5>
          <div>
            <% PensionPet.where(pension_id: @pension.id).each do | pets | %>
              <%= image_tag "#{pets.pet_id}.png", width: 24, height: 24 %>
            <% end %>
          </div>
        </div>
    </div>
  </div>

</div>
