<div class="body-flex">
  <div class="top-white-box">
    <%= link_to "< RETOUR", root_path, class:"dark-return-link", id:"dark-return" %>
  </div>
  <div id="edit-page">
    <div class="pets_selector">
      <h3 class="title_edit">Avec qui ?</h3>
      <div class="pets_selector_cards">
        <div class="add_pet_card"><i class="fa fa-plus-circle"></i></div>
        <% @user_pets.each do |pet| %>
          <div class="pets_selector_card">
            <div class="img_pet_card"><%= image_tag 'bouvier.jpg' %></div>
            <div class="name_and_breed">
              <p><%= pet.name %></p> <p><%= image_tag 'Dog.png' %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-container">
      <h3 class="title_edit">Quand ?</h3>
      <%= simple_form_for @user_search do |f| %>
        <div class="form-body">
          <div id="date-input">
            <p class="time">Du :</p>
            <%= f.input_field :start_date,  html5: true %>
            <p class="time">Au :</p>
            <%= f.input_field :end_date, as: :date, html5: true %>
          </div>
        </div>
        <div class="btn-footer-form spacer-bottom">
          <%= f.submit "SUIVANT", class: "button-green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
