<div class="main_with_background">
  <div id="home-page">
    <div class="title_container">
      <div id="white-place"> ...lace </div>
      <div class="user_title_box">
        <h1 id="place">Place</h1>
        <h1>for Pets</h1>
      </div>
    </div>
    <div class="user_search_input_form_container">
      <div class="user_search_input_form">
        <%= simple_form_for @user_search do |f| %>
          <%= f.input :start_address, id: 'user_search_start_address', label:false, placeholder: "Point de départ"%>
          <%= f.input :end_address, id: 'user_search_start_address', label:false, placeholder: "Destination" %>
          <%= f.hidden_field :come_from, value: "user_search" %>
          <%= f.submit "ALLONS-Y !", class: "button-green" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
